body {
	background-color: #404040;
	color: #ffffff;
	font-family: sans-serif;
}

#request_form {
	width: 100%;
	position: relative;
}

#request_form > * {
	display: block;
	margin: 0 auto;
	max-width: 256px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 80%;
}

#request_form label {
	margin-bottom: 5px;
}

#request_form input {
	font-size: 1em;
	height: 1.5em;
	margin-bottom: 10px;
	text-transform: none;
}

#do_request {
	padding:0.1em 0;
	width: 100%;
}

#do_request:hover {
	cursor: pointer;
}

#status_msg {
	font-size: 1em;
	margin: 10px 0 0 0;
	padding: 0.1em 0;
	text-align: center;
}

#status_msg.ok {
	background-color: #00a500;
}

#status_msg.error {
	background-color: #a50000;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
